/*.pk3
/games.log
/q3config.cfg
/servercache.dat
/src/code/cgame/vm
/src/code/cgame/vm/*.*
/src/code/game/vm
/src/code/game/vm/*.*
/src/code/ui/vm
/src/code/ui/vm/*.*
/src/_temp
/src/_temp/*.*
/ui
/ui/*.*
/vm
/vm/*.*